# Data 
*.osm.pbf
*.gpkg
data/*
incoming_data/*
figures/*
processed_data/*
example/results/*
benchmark_results/*
benchmark_data/*
profile_results/*
cache/*
.bak/*

# Editor config
.vscode
config.json

# Filesystem
*DS_Store
._*

# Python
__pycache__
*.pyd
*.pyc
.ipynb_checkpoints
_version.py

# Docs
docs/build

# pixi environments
.pixi/*
!.pixi/config.toml
